.company-section {
    padding: 20px;
}

.company-title {
    margin-bottom: 20px;
    width: 90%;
    float: left;
}

.company-title-add {
    float: right;
}

.company-edit-body {
    padding: 20px;
}

.company-edit-form {
    padding: 20px 0 20px 0;
}

.company-edit-form-id {
    min-width: 150px;
    width: 150px;
}

.company-edit-form-label {
    width:70px;
}

.company-edit-group-button {
    float: right;
}
