.employee-section {
    padding: 20px;
}

.employee-title {
    margin-bottom: 20px;
    width: 90%;
    float: left;
}

.employee-title-add {
    float: right;
}

.employee-edit-body {
    padding: 20px;
}

.employee-edit-form {
    padding: 20px 0 20px 0;
}

.employee-edit-form-id {
    min-width: 200px;
    width: 200px;
}

.employee-edit-form-label {
    width:100px;
}
.employee-edit-group-button {
    float: right;
}
